# ─── Required ───────────────────────────────────────────────────────────────
GROQ_API_KEY=xxxxxxxxxxxxxxx
QDRANT_URL=xxxxxxxxxxxxxx
QDRANT_API_KEY=xxxxxxxxxxxx
HELPDESK_DB_CONN=xxxxxxxxxxxx
CHATBOT_DB_CONN=xxxxxxxxxxx
# ─── Optional / Nasa Config din ────────────────────────────────────────────────────
QDRANT_COLLECTION=xxxxxxxxx

EMBEDDING_MODEL=xxxxxxxxxx
RERANKER_MODEL=xxxxxxx
CLASSIFIER_MODEL=xxxxxxxxxxxxxxx

# ─── Security ────────────────────────────────────────────────────────────────
# CORS: 
CORS_ORIGINS=["x"]

ALLOW_TEST_AUTH=x



# Enable LangSmith Tracing
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="x"
LANGCHAIN_API_KEY="xxxxxxxxxxxxxxxx"
LANGCHAIN_PROJECT="xxxxxxxxx"