USE [master]
GO
/****** Object:  Database [BigEChatBot]    Script Date: 5/8/2026 7:17:55 AM ******/
CREATE DATABASE [BigEChatBot]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BigEChatBot', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BigEChatBot.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BigEChatBot_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BigEChatBot_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BigEChatBot].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BigEChatBot]
GO
/****** Object:  Table [dbo].[AIChatbot_Settings]    Script Date: 5/8/2026 7:17:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIChatbot_Settings](
	[SettingID] [int] IDENTITY(1,1) NOT NULL,
	[ActiveModel] [nvarchar](100) NOT NULL,
	[SystemPrompt] [nvarchar](max) NOT NULL,
	[Temperature] [decimal](3, 2) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessage]    Script Date: 5/8/2026 7:17:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessage](
	[MessageID] [bigint] IDENTITY(1,1) NOT NULL,
	[SessionID] [uniqueidentifier] NOT NULL,
	[SenderRole] [nvarchar](10) NOT NULL,
	[MessageContent] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatSession]    Script Date: 5/8/2026 7:17:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatSession](
	[SessionID] [uniqueidentifier] NOT NULL,
	[RequesterUserID] [bigint] NOT NULL,
	[ChatTitle] [nvarchar](255) NULL,
	[StartTime] [datetime] NULL,
	[LastActive] [datetime] NULL,
	[IsActive] [bit] NULL,
	[RelatedTicketID] [bigint] NULL,
	[IssueSummary] [nvarchar](max) NULL,
	[ResolutionSummary] [nvarchar](max) NULL,
	[SessionStatus] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AIChatbot_Settings] ADD  DEFAULT ('llama-3.3-70b-versatile') FOR [ActiveModel]
GO
ALTER TABLE [dbo].[AIChatbot_Settings] ADD  DEFAULT ((0.3)) FOR [Temperature]
GO
ALTER TABLE [dbo].[AIChatbot_Settings] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AIChatbot_Settings] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ChatMessage] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ChatSession] ADD  DEFAULT (newid()) FOR [SessionID]
GO
ALTER TABLE [dbo].[ChatSession] ADD  DEFAULT (getdate()) FOR [StartTime]
GO
ALTER TABLE [dbo].[ChatSession] ADD  DEFAULT (getdate()) FOR [LastActive]
GO
ALTER TABLE [dbo].[ChatSession] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ChatSession] ADD  DEFAULT ('Active') FOR [SessionStatus]
GO
ALTER TABLE [dbo].[ChatMessage]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessage_Session] FOREIGN KEY([SessionID])
REFERENCES [dbo].[ChatSession] ([SessionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatMessage] CHECK CONSTRAINT [FK_ChatMessage_Session]
GO
ALTER TABLE [dbo].[ChatMessage]  WITH CHECK ADD CHECK  (([SenderRole]='ai' OR [SenderRole]='user'))
GO
USE [master]
GO
